<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../Styles/estilo_experiencia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1c1e42e019.js" crossorigin="anonymous"></script>
    
    <title>Nico Bonder Experiencia</title>
</head>
<body>
    <section id="contenedor">
            <nav class="menu">
                <label class="logo"><a href="/index.html"><img src="/Ilustraciones/maquina.svg" alt="Ilustración de una máquina de escribir"></a></label>
                <ul class="opciones_menu">
                    <li><a href="/index.html">INICIO</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li class="active"><a href="experiencia.html">EXPERIENCIA</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>    
                </ul>

                <span class="btn_menu">
                    <i class="fas fa-bars"></i>
                </span>
            </nav>

        <div class="section_trabajos">
            <h1>Mi experiencia</h1>
            
            <h2>Algunos de mis trabajos</h2>
            <div class="trabajos">
                <div class="diarios">
                    <h3>Diarios y revistas</h3>
                    <ul>
                        <li>Crónicas de viajes en <a href="https://www.hoydia.com.ar/cultura/64209-tailandia-casi-una-experiencia-religiosa.html" target="_blank">Diario Hoy Día Córdoba</a></li>
                        <li>Crónicas narrativas en <a href="https://www.lanacion.com.ar/lifestyle/viaje-filipinas-historia-detras-playas-paradisiacas-nid2556165/" target="_blank">Revista Brando</a></li>
                    </ul>
                </div>
                <div class="cuentos">
                    <h3>Libros de cuentos</h3>
                    <ul>
                        <li><a href="https://payhip.com/b/1Mdm" target="_blank">Una caricia divina</a></li>
                        <li><a href="https://payhip.com/b/ki9d" target="_blank">Anécdotas infantiles</a></li>
                        <li><a href="https://payhip.com/b/TLF3" target="_blank">Visita oficial</a></li>
                    </ul>
                </div>
                <div class="blogs">
                    <h3>Post en blogs</h3>
                    <ul>
                        <li><a href="https://myalmeria.com/#" target="_blank">My Almería</a></li>
                        <li><a href="https://tupsicoayuda.com/que-es-el-sindrome-de-la-cabana-y-como-superarlo/" target="_blank">Tu Psicoayuda</a></li>
                        <li><a href="https://entreemprendedores.org/author/nicolasbonder/" target="_blank">Entre Emprendedores</a></li>  
                        <li>Y muchos más</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section_testimonios">
            <h2>Testimonios</h2>
                <div class="testimonios">
                    
                    <div class="fernanda">
                        <img src="/Ilustraciones/Fernanda.jpg" alt="Fotografia de Fernanda Nicolini">
                        <h4>Fernanda Nicolini</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus possimus nobis expedita eius, ducimus commodi nulla mollitia quasi optio nesciunt cumque. Suscipit eligendi explicabo quia distinctio sequi quos, at doloremque!
                        Ea culpa molestiae amet non ratione, eum quaerat porro? Quae, dolore. Aliquam adipisci laborum aperiam reiciendis voluptate, eum rerum harum eligendi quasi blanditiis debitis, placeat, nulla recusandae esse consequatur hic!
                        Amet numquam perferendis distinctio! Sapiente aperiam tenetur, labore veritatis beatae iste, ea, consectetur culpa dolore quam reprehenderit! Quidem rem necessitatibus, molestias incidunt quos repellendus iusto neque nam eos impedit vero!</p>
                    </div>    
                
                    <div class="almeria">
                        <img src="/Ilustraciones/myalmeria.png" alt="Logo del sitio web My Almería">
                        <h4> José de My Almería</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aut. Reiciendis, molestias laborum debitis omnis vitae et earum facere velit eligendi nemo quos ex vel ut libero ab necessitatibus alias?
                        Reiciendis magni officia voluptatem! Ab id, explicabo voluptatum atque alias exercitationem libero ad, commodi harum eveniet quas aliquam voluptatem labore dolorem. Quo cumque excepturi necessitatibus ea tempora mollitia quibusdam itaque.
                        Repellat quaerat inventore eum, aspernatur reprehenderit enim dolores iure impedit praesentium nemo sapiente maxime ducimus voluptate nihil tempore quo sunt quos alias amet! Dignissimos fuga nostrum obcaecati soluta eos quasi.</p>
                    </div>
                    
                    <div class="podmo">
                        <img src="/Ilustraciones/podmo.jpg" alt="Fotografía del Licenciado Fabricio Podmoguilny">
                        <h4>Lic. Fabricio Podmoguilny</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cumque magnam repudiandae tempore delectus unde in, sunt eveniet qui dolorum, obcaecati sequi ab consequuntur quod iure tenetur consectetur. Labore, ducimus.
                        Quisquam, sit maxime? Inventore magnam, qui doloremque nulla maiores ut molestias expedita neque possimus quos sunt odio commodi accusantium et iusto eveniet hic illo tempore rerum earum enim voluptate adipisci!
                        A cumque magni quasi distinctio explicabo velit quo, eligendi exercitationem enim dolores dolorem non nam, soluta facilis placeat fuga harum dicta mollitia! Similique, consequatur ex amet non commodi delectus quam.</p>
                    </div>
        
                </div>
        </div>

        <div class="section_contacto">  
            <h3>Contacto</h3>
            <p>Si necesitas hacerme una consulta, saber si podemos trabajar juntos o si quieres solicitar un presupuesto, escríbeme y me pondré en contacto tan prondo como pueda.</p>
            <div class="section_extra">
                  
                <div class="imagen">
                <img src="\Ilustraciones\contacto.png" alt="Sección contacto">
                </div>
                
                
                <div class="contacto">
                                    
                    <div class="contact_form">
                    
                        <form action="" id="contacto" method="post">
                            <div class="datos">
                                <label for="nombre"></label>
                                <input class="input-field" type="text" name="nombre" placeholder="Nombre:" id="nombre">

                                <label for="correo"></label> 
                                <input class="input-field" type="email" placeholder="Correo:" name="Correo" id="correo">
                            </div>
                            <label for="mensaje"></label> 
                            <textarea class="input-field" name="Mensaje" placeholder="¿Cómo puedo ayudarte?" id="mensaje" ></textarea>

                            <input id="submit" type="submit" value="Enviar">
                        </form>
                    </div>    
                </div>
            </div>
        </div>
        
        <div class="section_footer">
            <a href="/index.html"><img src="\Ilustraciones\—Pngtree—writer conceptual illustration design_4061246.png" alt="Ilustración de un escritor" id="writer"></a>
            <div class="servicios_footer">
                <a href="servicios.html"><h5>Servicios</h5></a>
                <div class="serviciosF">
                    <a href="servicios.html#content">Content Writer</a>
                    <a href="servicios.html#escritura">Escritura Creativa</a>
                    <a href="servicios.html#copy">Copy Writer</a>
                </div>
            </div>
            <div class="redes_sociales">
                
                <h5>Redes Sociales</h5>
                <div class="redes">
                    <svg class="linkedin" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" class="svg-inline--fa fa-linkedin fa-w-14" 
                    role="img" xmlns="http://www.w3.org/2000/svg" width="83" height="83" viewBox="0 0 448 512">
                    <a xlink:href="https://www.linkedin.com/in/nicobonder/" target="_blank">
                    <path class="linkedin1" fill="" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 
                    480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 
                    416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                    </a>
                    </svg>
                    
                    <svg class="insta" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" 
                    role="img" xmlns="http://www.w3.org/2000/svg" width="83" height="83" viewBox="0 0 448 512">
                    <a xlink:href="https://www.instagram.com/altoviajeblog/" target="_blank">
                    <path class="instagram" fill="" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                    </a>
                    </svg>    
                    
                    <svg class="yout" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18" 
                    role="img" xmlns="http://www.w3.org/2000/svg" width="83" height="83" viewBox="0 0 576 512">
                    <a href="https://www.youtube.com/channel/UCyuneqyCnW703l7l6uir6CA" target="_blank">
                    <path class="youtube" fill="" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
                    </svg>
                    </a>
                </div>
            </div>
            <img src="\Ilustraciones\sentado.png" alt="Ilustración de un escritor sentado" id="sentado">
        </div>

    </section>



        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="../Animations/animacion_otras.js"></script>

</body>
</html>